@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;400;700&family=Water+Brush&display=swap");

body {
  background: black;
  background-image: url("./img/dessert-1.jpg");
  background-size: cover;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.sweet {
  font-size: 2rem;
  padding-top: 40px;
  padding-bottom: 15px;
}

.cursive {
  font-family: "Water Brush", cursive;
  font-size: 3.15rem;
}

.mb-3 {
  color: white;
  width: 30%;
}

.btn {
  background-color: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(1rem);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: blanchedalmond;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}

.btn:hover {
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

header {
  color: blanchedalmond;
  font-family: "Poppins", sans-serif;
  font-size: 1.65em;
  padding-top: 120px;
  width: 100%;
}

.keyword-recipes {
  font-family: "Open Sans", sans-serif;
}

.card {
  align-items: left;
  backdrop-filter: blur(0.75rem);
  border: 1px solid transparent;
  border-radius: 1rem;
  border-top-color: rgba(225, 225, 225, 0.5);
  border-left-color: rgba(225, 225, 225, 0.5);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-right-color: rgba(225, 225, 225, 0.1);
  color: blanchedalmond;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 90%;
}

.cb-1 {
  background-color: rgba(225, 225, 225, 0.1);
}
